/****** SSMS の SelectTopNRows コマンドのスクリプト  ******/
SELECT TOP 1000 [ControllerID]
      ,[ControllerName]
      ,[ControllerClassID]
      ,[UnitID]
      ,[CommunicationParameters]
      ,[OpcControllerName]
      ,[Description]
      ,[TimeStamp]
      ,[CustomerID]
      ,[DeletionTime]
      ,[SendLoggedMessagesInterval]
      ,[StaticFields]
      ,[PositionInParent]
  FROM [okudakedb].[dbo].[Controllers]
  where [CustomerID]=100